This is where we train the actual model. First we took a few more binary variable out of features with a smaller number of categories.

In [150]:
import pandas as pd

df = pd.read_csv('Final5.csv')

#Add genres columns to end of dataframe

# Extract unique genre names from the three columns

#genres_list = df['Genres'].stack().unique().tolist()
genres_list = pd.unique(df[['Genre 1', 'Genre 2', 'Genre 3']].values.ravel('K'))

for genre in genres_list:
    df[genre] = ((df['Genre 1'] == genre) | (df['Genre 2'] == genre) | (df['Genre 3'] == genre)).astype(int)
    
# Display the updated DataFrame with numeric values for genres
df

,IMDB Ratings,IMDB Score,Content Rating,Date Released,Genre 1,Genre 2,Genre 3,Keyword 1,Keyword 2,Keyword 3,...,Thriller,Sci-Fi,Music,Romance,History,War,unknown,Musical,Sport,Western
0,6217.0,6.2,PG,2002-08-23,Comedy,Drama,Romance,sex offender,female sex offender,female sex abuser,...,0,0,0,1,0,0,0,0,0,0
1,8054.0,6.9,PG,2002-11-08,Comedy,Drama,unknown,factory,mexican american,latino,...,0,0,0,0,0,0,1,0,0,0
2,8453.0,6.9,14A,2003-01-31,Comedy,Drama,unknown,suicide of wife,downward spiral,crying man,...,0,0,0,0,0,0,1,0,0,0
3,10384.0,7.0,R,2003-04-25,Crime,Drama,Romance,asian american,bare chested male,wad of cash,...,0,0,0,1,0,0,0,0,0,0
4,19524.0,6.0,14A,2002-09-20,Adventure,Drama,Mystery,wandering,desert,best friend,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3950,161744.0,7.8,PG,2022-12-21,Animation,Adventure,Comedy,puss in boots character,sequel,cat,...,0,0,0,0,0,0,0,0,0,0
3951,470112.0,7.6,PG,2022-12-16,Action,Adventure,Fantasy,underwater,ocean,jungle,...,0,0,0,0,0,0,0,0,0,0
3952,21377.0,6.6,PG,2022-12-23,Biography,Drama,Music,1990s,1980s,based on true story,...,0,0,1,0,0,0,0,0,0,0
3953,142575.0,7.5,G,2023-01-13,Comedy,Drama,unknown,remake,suicide attempt,grumpy old man,...,0,0,0,0,0,0,1,0,0,0
3954,153722.0,7.1,18A,2022-12-23,Comedy,Drama,History,hollywood california,female full frontal nudity,1920s,...,0,0,0,0,1,0,0,0,0,0

In [2]:
#Add genres columns to end of dataframe

# Extract unique genre names from the three columns

#genres_list = df['Genres'].stack().unique().tolist()
content_ratinglist = df['Content Rating'].unique()

for content_rating in content_ratinglist:
    df[content_rating] = (df['Content Rating'] == content_rating).astype(int)
    
# Display the updated DataFrame with numeric values for genres
df

,IMDB Ratings,IMDB Score,Content Rating,Date Released,Genre 1,Genre 2,Genre 3,Keyword 1,Keyword 2,Keyword 3,...,F,16+,14,18+,PA,13+,Unrated,Not Rated,TV-MA,TV-14
0,6217.0,6.2,PG,2002-08-23,Comedy,Drama,Romance,sex offender,female sex offender,female sex abuser,...,0,0,0,0,0,0,0,0,0,0
1,8054.0,6.9,PG,2002-11-08,Comedy,Drama,unknown,factory,mexican american,latino,...,0,0,0,0,0,0,0,0,0,0
2,8453.0,6.9,14A,2003-01-31,Comedy,Drama,unknown,suicide of wife,downward spiral,crying man,...,0,0,0,0,0,0,0,0,0,0
3,10384.0,7.0,R,2003-04-25,Crime,Drama,Romance,asian american,bare chested male,wad of cash,...,0,0,0,0,0,0,0,0,0,0
4,19524.0,6.0,14A,2002-09-20,Adventure,Drama,Mystery,wandering,desert,best friend,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3950,161744.0,7.8,PG,2022-12-21,Animation,Adventure,Comedy,puss in boots character,sequel,cat,...,0,0,0,0,0,0,0,0,0,0
3951,470112.0,7.6,PG,2022-12-16,Action,Adventure,Fantasy,underwater,ocean,jungle,...,0,0,0,0,0,0,0,0,0,0
3952,21377.0,6.6,PG,2022-12-23,Biography,Drama,Music,1990s,1980s,based on true story,...,0,0,0,0,0,0,0,0,0,0
3953,142575.0,7.5,G,2023-01-13,Comedy,Drama,unknown,remake,suicide attempt,grumpy old man,...,0,0,0,0,0,0,0,0,0,0
3954,153722.0,7.1,18A,2022-12-23,Comedy,Drama,History,hollywood california,female full frontal nudity,1920s,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#Add genres columns to end of dataframe

# Extract unique genre names from the three columns

#genres_list = df['Genres'].stack().unique().tolist()
monthlist = [1,2,3,4,5,6,7,8,9,10,11,12]

for month in monthlist:
    df[str(month)] = (df['month'] == month).astype(int)
    
# Display the updated DataFrame with numeric values for genres
df

,IMDB Ratings,IMDB Score,Content Rating,Date Released,Genre 1,Genre 2,Genre 3,Keyword 1,Keyword 2,Keyword 3,...,3,4,5,6,7,8,9,10,11,12
0,6217.0,6.2,PG,2002-08-23,Comedy,Drama,Romance,sex offender,female sex offender,female sex abuser,...,0,0,0,0,0,1,0,0,0,0
1,8054.0,6.9,PG,2002-11-08,Comedy,Drama,unknown,factory,mexican american,latino,...,0,0,0,0,0,0,0,0,1,0
2,8453.0,6.9,14A,2003-01-31,Comedy,Drama,unknown,suicide of wife,downward spiral,crying man,...,0,0,0,0,0,0,0,0,0,0
3,10384.0,7.0,R,2003-04-25,Crime,Drama,Romance,asian american,bare chested male,wad of cash,...,0,1,0,0,0,0,0,0,0,0
4,19524.0,6.0,14A,2002-09-20,Adventure,Drama,Mystery,wandering,desert,best friend,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3950,161744.0,7.8,PG,2022-12-21,Animation,Adventure,Comedy,puss in boots character,sequel,cat,...,0,0,0,0,0,0,0,0,0,1
3951,470112.0,7.6,PG,2022-12-16,Action,Adventure,Fantasy,underwater,ocean,jungle,...,0,0,0,0,0,0,0,0,0,1
3952,21377.0,6.6,PG,2022-12-23,Biography,Drama,Music,1990s,1980s,based on true story,...,0,0,0,0,0,0,0,0,0,1
3953,142575.0,7.5,G,2023-01-13,Comedy,Drama,unknown,remake,suicide attempt,grumpy old man,...,0,0,0,0,0,0,0,0,0,0
3954,153722.0,7.1,18A,2022-12-23,Comedy,Drama,History,hollywood california,female full frontal nudity,1920s,...,0,0,0,0,0,0,0,0,0,1

First we tested the whole data set to make sure there was correlation then we tried validatin on a bunch of random splits. The scaler was having a hard time accepting the X_train as a dataframe and it only worked when we ran the cells in arcane combinations, so this part is not extremely repeatable. We found that we had to raise alpha to 100000 to get the model to consistently work at any random seed.

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt

from sklearn import preprocessing
from sklearn.decomposition import PCA

from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error as rmse
from sklearn.metrics import r2_score as r2

# Configure Notebook
%matplotlib inline
plt.style.use('fivethirtyeight')
sns.set_context("notebook")
import warnings
warnings.filterwarnings('ignore')

In [6]:
train = df
train = train[train['IMDB Score'].notna()]
train = train.select_dtypes(exclude=['object'])

In [7]:
y = train['Gross Revenue Worldwide USD']

In [8]:
X = train.drop(columns=['Gross Revenue US&Canada USD','Opening Weekend Revenue US&Canada USD','Gross Revenue Worldwide USD','Nominations','Awards','IMDB Ratings','IMDB Score'])
X = X.drop(columns=['ROI domestic','Profit domestic','ROI int','Profit int'])

In [9]:
from sklearn.preprocessing import MinMaxScaler
cols = X.columns

scaler = MinMaxScaler()

X = scaler.fit_transform(X)

X = pd.DataFrame(X, columns=[cols])

In [10]:
from sklearn import linear_model

In [63]:
model = linear_model.Lasso(alpha=100000)
model.fit(X.apply(lambda x: x.fillna(x.mean()),axis=0), y)
model.score(X.apply(lambda x: x.fillna(x.mean()),axis=0), y)

0.6844507553325303

In [64]:
model = linear_model.Lasso(alpha=1000000)
model.fit(X.apply(lambda x: x.fillna(x.mean()),axis=0), y)
model.score(X.apply(lambda x: x.fillna(x.mean()),axis=0), y)

0.6526006185925594

In [109]:
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.7, random_state=41)

In [114]:
X_train = pd.DataFrame(X_train)

In [115]:
X_val = pd.DataFrame(X_val)

In [116]:
from sklearn.preprocessing import MinMaxScaler
cols = X_train.columns

scaler = MinMaxScaler()

X_train = scaler.fit_transform(X_train)

X_train = pd.DataFrame(X_train, columns=[cols])

In [117]:
X_val = pd.DataFrame(X_val, columns=[cols])

X_val = scaler.fit_transform(X_val)

In [90]:
X_train = pd.DataFrame(X_train)

In [91]:
X_val = pd.DataFrame(X_val)

In [92]:
model = linear_model.Lasso(alpha=1000000)
model.fit(X_train.apply(lambda x: x.fillna(x.mean()),axis=0), y_train)
model.score(X_val.apply(lambda x: x.fillna(x.mean()),axis=0), y_val)

0.6919984962694358